<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> <%= pageTitle %> </h1>

	<p><a href='/fruits/new'> Add a Fruit </a></p>
	<!-- <%= theFruits %> --> <ul>

	<% for(let i = 0; i < theFruits.length; i++) { %>

		 <li><a href="/fruits/<%= i %>"><%= theFruits[i].name %></a></li> 

	<% } %>
	</ul>
</body>
</html>