<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>

	<h1><%= message %></h1>

	<!-- lets make the template show the data 
		the data available to you inside these brackets is the object you passed as the second parameter to res.render
	 -->	
 	The <%= fruit.name; %> is <%= fruit.color; %>.

 	<!-- note: the <%= %> tag is for an EXPRESSION/value/variable etc -->
 	<!-- there is another type of tag, <% %>, which lets you add javascript CODE/logic to your template -->
 	
 	<% if(fruit.readyToEat === true)  { %>
 		The fruit is ready to eat.
 	<% } else { %>
 		The fruit is <font color="red"><b>NOT</b></font> ready to eat.
 	<% } %>
</body>
</html>